.button {
	color: white;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius: 5px;
	padding-top: 5px;
}

.button > svg {
	color: black;
	width: 15px;
	height: 15px;
}

.page {
    margin: 5px 10px;
}

.pagination {
	display: flex;
}